<mat-card class="example-card" appearance="outlined">
  <div class="d-flex mx-3 mt-3">
    <div class="flex-grow-1">
        <mat-card-title>{{ getInstance().annotation.title || 'Untitled' }}</mat-card-title>
        <mat-card-subtitle class="fw-light">{{ preset() }}</mat-card-subtitle>
    </div>
    <div>
      @if(isEditting()) {
        <button matIconButton (click)="isEditting.set(false)" aria-label="">
            <mat-icon>close</mat-icon>
        </button>
      } @else {
        <button matIconButton (click)="isEditting.set(true)" aria-label="">
            <mat-icon>edit</mat-icon>
        </button>
        <button matIconButton aria-label="" (click)="delete()">
            <mat-icon>delete</mat-icon>
        </button>
      } 
    </div>
  </div>

  @if (isEditting() ) {
    <form [formGroup]="formGroup" class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 d-flex flex-column">
                <mat-form-field class="example-full-width">
                    <mat-label>Title</mat-label>
                    <input matInput placeholder="Ex. Pizza" formControlName="title" (change)="saveSettings()" />
                    <mat-hint></mat-hint>
                </mat-form-field>

                <mat-form-field class="mt-3">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description" (change)="saveSettings()"></textarea>
                    <mat-hint></mat-hint>
                </mat-form-field>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4 d-flex flex-column">
                        <mat-form-field>
                            <mat-label>Preset</mat-label>
                            <mat-select formControlName="traitPreset">
                                @for(option of groupPresetOptions; track option.value) {
                                    <mat-option [value]="option.value">{{ option.display }}</mat-option>
                                }
                            </mat-select>
                            <mat-hint></mat-hint>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4">
                        <mat-form-field class="mt-3">
                            <mat-label>Timing</mat-label>
                            <mat-select formControlName="traitTiming" (selectionChange)="saveSettings()">
                                @for(option of groupTimingOptions; track option.value) {
                                    <mat-option [value]="option.value">{{ option.display }}</mat-option>
                                }
                            </mat-select>
                            <mat-hint></mat-hint>
                        </mat-form-field>

                        <mat-form-field class="ms-1 mt-3">
                            <mat-label>Evaluation</mat-label>
                            <mat-select formControlName="traitEvaluation" multiple (selectionChange)="saveSettings()">
                                @for(option of groupEvaluationBehaviorOptions; track option.value) {
                                    <mat-option [value]="option.value">{{ option.display }}</mat-option>
                                }
                            </mat-select>
                            <mat-hint></mat-hint>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-2">
            <button matButton="tonal" (click)="isEditting.set(false)" aria-label="">
                <mat-icon>save</mat-icon>
                <span>Save</span>
            </button>
        </div>
    </form>
  } @else {
    @if (getInstance().members.length) {
        <mat-card-content class="mt-5 mb-3">
            <stopwatch-list-grid-view [instances]="getInstance().members"></stopwatch-list-grid-view>
        </mat-card-content>
    }
  }
  <mat-card-footer class="example-card-footer">
  </mat-card-footer>
</mat-card>