/* You can add global styles to this file, and also import other style files */


@font-face {
    font-family: "Playfair Display";
    src: url("/assets/fonts/PlayfairDisplay-VariableFont_wght.ttf") format("truetype supports variations"),url("/assets/fonts/PlayfairDisplay-VariableFont_wght.ttf") format("truetype-variations");
    font-weight: 100 1000
}

@font-face {
    font-family: "Playfair Display";
    src: url("/assets/fonts/NotoSans-Italic-VariableFont_wdth,wght.ttf") format("truetype supports variations"),url("/assets/fonts/NotoSans-Italic-VariableFont_wdth,wght.ttf") format("truetype-variations");
    font-style: italic;
    font-weight: 100 1000
}

@font-face {
    font-family: "Playfair Display SC";
    src: url("/assets/fonts/PlayfairDisplaySC-Regular.ttf");
    font-style: normal;
    font-variant: small-caps
}

@font-face {
    font-family: "IntelOne Mono";
    src: url("/assets/fonts/intelone-mono-font-family-regular.ttf");
    font-style: normal
}

@font-face {
    font-family: "Noto Sans";
    src: url("/assets/fonts/NotoSans-VariableFont_wdth,wght.ttf") format("truetype supports variations"),url("/assets/fonts/NotoSans-VariableFont_wdth,wght.ttf") format("truetype-variations");
    font-weight: 100 1000;
    font-style: normal
}

@font-face {
    font-family: "Noto Sans";
    src: url("/assets/fonts/NotoSans-Italic-VariableFont_wdth,wght.ttf") format("truetype supports variations"),url("/assets/fonts/NotoSans-Italic-VariableFont_wdth,wght.ttf") format("truetype-variations");
    font-weight: 100 1000;
    font-style: italic
}

body {
    font-family: 'Noto Sans';
}